asgiref==3.8.1
Django==5.1.6
djangorestframework==3.15.2
djangorestframework-recursive==0.1.2
ffmpeg-python==0.2.0
future==1.0.0
Pillow-SIMD==9.5.0.post2
pysqlite3-binary==0.5.4
pytz==2025.1
sqlparse==0.5.3