<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Workflow</title>
        <link rel="stylesheet" href="css/materialdesignicons.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="app">
            <error-handler>
                <router-view></router-view>
            </error-handler>
        </div>

        <script type="importmap">
            {
              "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
                "vue-router": "https://unpkg.com/vue-router@4/dist/vue-router.esm-browser.js",
                "@vue/devtools-api": "https://unpkg.com/@vue/devtools-api@6.2.1/lib/esm/index.js",
                "luxon": "https://unpkg.com/luxon@3.0.3/build/es6/luxon.js",
                "js-cookie": "https://unpkg.com/js-cookie@3.0.1/dist/js.cookie.min.mjs"
              }
            }
        </script>
        
        <script type="text/x-template" id="breadcrumbs-template">
            <section id="breadcrumbs">
                <router-link :to="{ name: 'home' }" class="root"><i class="mdi mdi-harddisk"></i></router-link>
                <i class="mdi mdi-chevron-right"></i>
                <template v-for="c in items">
                    <template v-if="c.showLink">
                        <router-link :to="{ name: 'directory-detail-view', params: { id: c.id }}">{{c.name}}</router-link>
                    </template>
                    <template v-else>
                        <span>{{c.name}}</span>
                    </template>
                    <i v-if="!c.last" class="mdi mdi-chevron-right"></i>
                </template>
            </section>
        </script>

        <script type="module" src="app.js"></script>
    </body>
</html>