{% extends 'main/base.html' %}

{% block title%}Workflow - Browse {{directory.path}}{% endblock %}
{% block content %}

{% load tz %}
{% localtime off %}

<section id="breadcrumbs">
  <a href="{% url 'main:index' %}" class="root"><i class="mdi mdi-harddisk"></i></a>
  <i class="mdi mdi-chevron-right"></i>
  {% for c in breadcrumbs %}
    <a href="{% url 'main:browse' c.id %}" class="middle">{{c.path}}</a>
    <i class="mdi mdi-chevron-right"></i>
  {% endfor %}
  <span class="end">{{directory.path}}</span>
</section>

<div id="contents">
  <section id="actions">
    <form action="{% url 'main:browse' directory.id %}" method="post">

      {% csrf_token %}
      <button type="submit" name="action" value="scan">Scan directory</button>
      <button type="submit" name="action" value="organize_into_directories">Organize into directories</button>
      <button type="submit" name="action" value="geotag">Geotag</button>
      <button type="submit" name="action" value="set_author">Set author</button>
      <button type="submit" name="action" value="write_metadata">Write metadata</button>
    </form>
  </section>

  <section id="items">
    {% if directory.subdirs %}
    <div id="subdirs">
      {% for dir in directory.subdirs.all %}
        <a href="{% url 'main:browse' dir.id %}" class="item"><i class="mdi mdi-folder"></i><span class="label">{{ dir.path }}</span></a>
      {% endfor %}
    </div>
    {% endif %}

    {% if directory.images.all %}
    <ul id="images">
      {% for image in directory.images.all %}
        <li class="item">{{ image.name }} [{{ image.author }}] [{{ image.date_time | date:"Y-m-d H:i:sO" }}]
          {% if image.attachments.all %}
            <ul>
              {% for att in image.attachments.all %}
                <li>{{ att.name }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
</div>

{% endlocaltime %}

{% endblock %}