/*
    background-black: 282424
    background-grey: 3d3a3a
    background-light-grey: E5E4E4
    text-white: FAFFFD
    accent-blue: 4B88A2
    accent-green: 9FD356
    accent-orange: FA824C
*/

body {
    color: #FAFFFD;
    background-color: #282424;
}

a, a:visited {
    text-decoration: none;
    color: #4B88A2;
}

label.disabled {
    color: grey;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    border: 1px solid #cecdcd;
    background-color: #9FD356;
    color: #3d3a3a;
    padding: 0.5rem;
}

td {
    border: 1px solid #cecdcd;
    padding: 0.5rem;
}

tr:nth-child(2n + 1) {
    background-color: #E5E4E4;
}

.hidden {
    display: none;
}

.red {
    color: red;
}

.orange {
    color: #FA824C;
}

.yellow {
    color: gold;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.magenta {
    color: magenta;
}

.gray {
    color: gray;
}

.black {
    color: black;
}

.white {
    color: white;
}

.help {
    background-color: cornsilk;
    padding: 0.25rem;
}

.shortcut {
    border: 1px solid;
    border-radius: 0.25rem;
    padding: 0.15rem;
    background-color: blanchedalmond;
    color: cornflowerblue;
    display: inline-block;
}

#breadcrumbs {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#contents {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

#actions, #secondary-actions {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: sticky;
    top: 8px;
}

#actions button, #secondary-actions button {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin: 0;
    background-color: #3d3a3a;
    border: none;
    color: #9FD356;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    border-radius: 0;
}

#actions button span {
    visibility: hidden;
    position: absolute;
    width: 20rem;
    height: 4rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #FAFFFD;
    color: #3d3a3a;
    margin-left: 3rem; /* 4rem - the padding of the button, which is 1rem*/
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0;
    z-index: 100;
}

#actions button:hover {
    background-color: #9FD356;
    color: #FAFFFD;
}

#actions button:hover span {
    visibility: visible;
    transition: all 0.2s linear;
    opacity: 1;
}

#actions button.multiple {
    cursor: auto;
    position: relative;
}

#actions button.multiple span {
    height: auto;
    top: 0;
}

#actions button.multiple span div {
    height: 4rem;
    cursor: pointer;
    line-height: 4rem;
}

#actions button.multiple span div:hover {
    background-color: #9FD356;
    color: #FAFFFD;
}

#items {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    flex-grow: 2;
    gap: 0.25rem;
    padding: 0 0.25rem;
}

#items #subdirs, #items #images {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 0.25rem;
}

#items #subdirs .item {
    padding: 0.5rem;
    background-color: #FAFFFD;
    display: inline-block;
    border-radius: 0.1rem;
}

#items #subdirs .item:hover {
    background-color: #DADFDD;
}

#items #subdirs .item .label {
    vertical-align: middle;
}

#items #subdirs .item .mdi {
    padding-right: 0.5rem;
    font-size: 1.5rem;
    vertical-align: middle;
}

#items #images .item {
    display: flex;
    flex-flow: column;
    width: 300px;
    padding: 0.15rem;
}

#items #images .item.selected {
    background-color: #4B88A2;
    border-radius: 0.1rem;
}

#items #images .item a {
    background-color: #3d3a3a;
    margin-bottom: 0.25rem;
}

#items #images .item a .thumbnail-container {
    min-width: 300px;
    min-height: 200px;
    display: flex;
}

#items #images .item a .thumbnail {
    display: block;
    margin: auto;
}

#items #images .item .item-id {
    background-color: #FAFFFD;
    border-radius: 0 0 0.1rem 0.1rem;
    padding: 0.1rem;
    text-align: center;
    display: flex;
    flex-flow: row;
}

#items #images .item .item-id span {
    flex-grow: 2;
}

#items #images .item ul.errors {
    color: red;
    list-style: none;
    padding: 0;
}

#items #images .item ul.errors li::before {
    padding-right: 0.5rem;
}

#items #images .item ul.properties {
    list-style: none;
    padding: 0;
}

#items #images .item ul.properties li::before {
    padding-right: 0.5rem;
}

#filters button {
    padding: 0.2rem 0.5rem;
}

/*
 * Select author dialog
 */
#edit-author-modal .modal-body {
    display: flex;
    flex-direction: column;
}

#edit-author-modal label {
    margin: 0.25rem 0;
}

/*
 * Edit timezone dialog
 */
#edit-timezone-modal .modal-body {
    display: flex;
    flex-direction: column;
}

#edit-timezone-modal label {
    margin: 0.25rem 0;
}

#edit-timezone-modal #multipleValuesWarning {
    margin: 0.25rem 0;
}

#edit-timezone-modal #multipleValuesWarning table {
    margin-top: 0.5rem;
}

/*
 * Geotag dialog
 */
#geotag-modal #track-maps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

#geotag-modal .track {
    display: inline-block;
    /* 30 px is the padding on modal-container, and 2rem because we want a gap of 1 rem between the maps and have max 3 maps on a row */
    width: calc((75vw - 60px - 2rem) / 3);
}

#geotag-modal .track label {
    width: 100%;
    display: inline-block;
    color: #4B88A2;
    background-color: #E5E4E4;
    cursor: pointer; 
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

#geotag-modal .track label span {
    vertical-align: text-bottom;
    margin-left: 0.5rem;
}

#geotag-modal .track label:has(input:checked) {
    color: #FAFFFD;
    background-color: #4B88A2;
}

#geotag-modal .leaflet-map {
    height: calc((75vw - 60px - 2rem) / 3 * 0.6);
}

/*
 * Pick Coordinates dialog
 */
#pick-coordinates-modal .leaflet-map {
    width: 50vw;
    height: 50vh;
    margin-bottom: 1rem;
}

#pick-coordinates-modal #pick-coordinates-info {
    display: flex;
    flex-flow: row nowrap;
}

#pick-coordinates-modal label {
    flex-grow: 1;
}

/*
 * Picture map dialog
 */
 #picture-map-modal .leaflet-map {
    width: 50vw;
    height: 50vh;
    margin-bottom: 1rem;
}

/*
 * Image carousel
 */
#image-carousel-modal > .modal-wrapper > .modal-container {
    padding: 0;
    border-radius: 0;
    min-width: 0;
    max-width: 100vw;
    max-height: unset;
    background-color: #282424;
}

#image-carousel-modal > .modal-wrapper > .modal-container > .modal-body {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    position: relative; /* makes the metadata-box, which is absolutely positioned, position itself relative to this one */
}

#image-carousel-modal > .modal-wrapper > .modal-container > .modal-body img {
    display: block;
}

#image-carousel-modal #metadata {
    color: #282424;
    background-color: #FAFFFD;
    overflow: scroll;
    position: absolute;
    right: 0;
    margin-right: 4rem;
    height: calc(100vh - 2 * 48px);
}

#image-carousel-modal #metadata table {
    width: 100%;
}

#image-carousel-modal #properties {
    display: flex;
    flex-flow: column nowrap;
    color: #FAFFFD;
}

#image-carousel-modal #properties header {
    padding: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
    background-color: #4B88A2;
}

#image-carousel-modal #properties header span {
    flex: 1;
    text-align: center;
}

#image-carousel-modal #properties table {
    width: 100%;
}

#image-carousel-modal #properties table tr {
    background-color: transparent;
}

#image-carousel-modal #properties table tr td {
    border: none;
    text-align: right;
}

#image-carousel-modal #properties table tr th {
    border: none;
    background-color: transparent;
    color: #FAFFFD;
    padding: 0.5rem;
}

#image-carousel-modal #properties table tr.active {
    background-color: #9FD356;
}

#image-carousel-modal #colors-flags {
    margin-top: auto;
}

#tagging-modal > .modal-wrapper > .modal-container {
    padding: 0;
    border-radius: 0;
    background-color: #282424;
}

#tagging-modal > .modal-wrapper > .modal-container > .modal-body {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
}

#tagging-modal #tag-picker {
    display: flex;
    flex-flow: column nowrap;
    background-color: #FAFFFD;
    width: 55rem;
}

#tagging-modal #tag-picker #search {
    margin: 0.25rem;
}

#tagging-modal #tag-picker #selected-tags {
    display: flex;
    flex-flow: row wrap;
    padding: 0.25rem;
    gap: 0.25rem;
}

#tagging-modal #tag-picker #selected-tags .tag {
    color: #FAFFFD;
    background-color: #4B88A2;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
}

#tagging-modal #tag-picker #selected-tags .tag i {
    padding: 0.25rem;
    cursor: pointer;
    vertical-align: middle;
}

#tagging-modal #tag-picker #selected-tags .tag i:hover {
    color: red;
    background-color: #345e70;
}

#tagging-modal #tag-picker #proposals {
    overflow-y: auto;
}

#tagging-modal #tag-picker #proposals .tag {
    padding: 0.5rem 0.25rem;
    cursor: pointer;
}

#tagging-modal #tag-picker #proposals .tag.active {
    color: #FAFFFD;
    background-color: #9FD356;
}

#tagging-modal #tag-tree-view {
    color: #FAFFFD;
    padding: 0.25rem;
    overflow: auto;  
}

#tagging-modal #tag-tree-view ul {
    list-style: none;
    margin: 0;
    position: relative;
    padding-left: 1.2rem;
}

#tagging-modal #tag-tree-view .caret {
    cursor: pointer;
}

#tagging-modal #tag-tree-view .caret.open::before {
    transform: rotate(90deg);
}

#tagging-modal #tag-tree-view .caret::before {
    content: "\25B6";
    position: absolute;
    left: 0;
}

#tagging-modal #tag-tree-view span span.label {
    margin-right: 0.5rem;
}

#tagging-modal #tag-tree-view span span.label:hover {
    color: #9FD356;
}

#tagging-modal #tag-tree-view span span.add {
    visibility: hidden;
}

#tagging-modal #tag-tree-view span:hover span.add {
    visibility: visible;
    cursor: pointer;
    color: #FAFFFD;
}

#tagging-modal #tag-tree-view span:hover span.add:hover {
    color: #9FD356;
}

#tagging-modal #tag-tree-view li.open ul {
    display: block;
}

#tagging-modal #tag-tree-view li.closed ul {
    display: none;
}

/*
 * select-dialog
 */
 #image-carousel-modal .select-dialog .modal-container {
    padding: 0;
    min-width: 0;
 }

 #image-carousel-modal .select-dialog .modal-body {
    background-color: #FAFFFD;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0.3rem;
    margin: 0;
}

#image-carousel-modal .select-dialog .modal-body .option {
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    align-items: baseline;
}

#image-carousel-modal .select-dialog .option .label {
    flex-grow: 1;
}

#image-carousel-modal .select-dialog .modal-body .option:first-child {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

#image-carousel-modal .select-dialog .modal-body .option:last-child {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

#image-carousel-modal .select-dialog .modal-body .option:hover {
    color: #FAFFFD;
    background-color: #9FD356;
}

/*
 * Selector
 */
span.selector {
    display: inline-block;
    border: 1px solid #4B88A2;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
}

span.selector span {
    padding: 0 0.5rem;
}

span.selector button {
    margin: 0;
    border-radius: 0;
}

span.selector button:first-child {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

span.selector button:last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

/*
 * Modal dialog
 */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
}

.modal-mask.dark {
    background-color: rgba(0, 0, 0, 0.85);
}

.modal-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.modal-wrapper::before {
    flex: 1;
    content: "";
}

.modal-wrapper::after {
    flex: 3;
    content: "";
}

.modal-container {
    min-width: 25%;
    max-width: 75%;
    max-height: 80vh;
    margin: 0px auto;
    padding: 20px 30px;
    color: #282424;
    background-color: #FAFFFD;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #4B88A2;
}

.modal-header h3.error {
    color: #FA824C;
}

.modal-body {
    margin: 20px 0;
    max-height: 100%;
}

.modal-footer {
    margin-top: 1rem;
    display: flex;
}

.modal-mask.noheader > .modal-wrapper > .modal-container > .modal-header,
.modal-mask.nofooter > .modal-wrapper > .modal-container > .modal-footer {
    display: none;
}

button {
    margin-right: 0.5rem;
    background-color: #E5E4E4;
    border: none;
    color: #4B88A2;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.1rem;
    font-size: 1rem;
}

button:hover {
    background-color: #f4f4f4;
}

button.modal-default-button {
    background-color: #4B88A2;
    color: #FAFFFD;
}

button.modal-default-button:hover {
    background-color: #8CB3C4;
    color: #FAFFFD;
}

button:disabled {
    cursor: not-allowed;
}

button.active {
    color: #E5E4E4;
    background-color: #4B88A2;
}

/*
 * Spinner
 */
.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: spinner7 1.8s infinite ease-in-out;
    animation: spinner7 1.8s infinite ease-in-out;
}
.spinner {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.spinner:before,
.spinner:after {
    content: '';
    position: absolute;
    top: 0;
}
.spinner:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner:after {
    left: 3.5em;
}
@-webkit-keyframes spinner7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes spinner7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.spinner.small {
    font-size: 6px;
}

button .spinner {
    position: absolute;
    margin: 0;
    top: 8px;
    right: 25px;
}

/*
 * Tooltip
 */
.tooltip-symbol {
    position: relative;
    display: inline-block;
}

.tooltip-contents {
    visibility: hidden;
    background-color: #4B88A2;
    color: white;
    position: absolute;
    z-index: 1;
    padding: 0.5rem;
    text-align: left;
    font-style: normal;
    left: 50%;
    min-width: 250px;
    border-radius: 0.1rem;
    font-weight: normal;
}

.tooltip-symbol:hover .tooltip-contents {
    visibility: visible;
}

ul.tooltip-contents {
    padding-left: 1.5rem;
}